.deliveryOrderPage {
  width: calc(100vw - 200px);
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  right: 0;
  /* border: 1px solid pink;
    background-color: lavender; */
  display: flex;
  justify-content: center;
}

.deliveryOrderBox {
  /* border: 1px solid black;
  background-color: lavenderblush; */
  width: 80vw;
  height: 80vh;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--light-grey);
}

.boxHeaderBlue {
  margin-bottom: 10px;
  color: var(--blue);
}

.boxHeaderGreen {
    margin-bottom: 10px;
    color: var(--green);
  }

.orderDetails {
  /* background-color: lemonchiffon;
  border: 1px solid sandybrown; */
  width: inherit;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.orderDetailsInput {
  /* background-color: #7c9dbb;
  border: 1px solid lightpink; */
  width: calc(80vw / 2);
}

.left {
  margin: 0 20px 0 30px;
}

.right {
  margin: 0 30px 0 20px;
}

.blueBG {
  background-color: var(--blue);
}

.greenBG {
  background-color: var(--green);
}

.lightBlueBG {
  background-color: var(--light-blue);
}

.lightGreenBG {
  background-color: var(--light-green);
}

.labelDetails {
  /* border: 1px solid honeydew;
  background-color: navajowhite; */
  display: flex;
  justify-content: space-between;
  margin: 15px 10px;
  height: 30px;
}

.labelOrder {
  /* border: 1px solid red; */
  width: 50%;
}

.inputOrder {
  border: 1px solid var(--light-grey);
  width: 50%;
  background: none;
  outline: none;
  text-indent: 10px;
}

.date {
  border: none;
  background: none;
  outline: none;
}

.labelContentInput {
  border: none;
  background: none;
  outline: none;
}

.orderInput {
  /* background-color: antiquewhite;
  border: 1px solid violet; */
  width: inherit;
  height: 270px;
  margin: 30px 0 15px 0;
}

.labelInput > input {
  width: 300px;
  margin: 0 50px 0 0;
  border: 1px solid var(--light-grey);
  text-indent: 10px;
  background: none;
  outline: none;
}

#date {
  text-indent: 5px;
}

.columnHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.columnHeaders > p {
  width: calc(100% / 4);
  text-align: center;
  /* border: 1px solid pink; */
  padding: 0;
  margin: 0 0 10px 0;
}

.columnInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 10px;
  /* background-color: greenyellow; */
}

.inputRows {
  /* background-color: pink; */
  height: 220px;
  overflow-y: scroll;
}

.newInput {
  width: calc(100% / 4);
  text-align: left;
  text-indent: 10px;
  border: 1px solid var(--light-grey);
  /* background-color: honeydew; */
  height: 25px;
  outline: none;
}

.select {
  width: 80%;
  text-align: left;
  text-indent: 10px;
  border: none;
  background: none;
  outline: none;
  padding-left: 10%;
  margin: 0;
}

.select > option {
  width: 80%;
  padding-left: 10%;
  margin: 0;
}

.first {
  margin-left: 40px;
}

.middle {
  margin-left: 80px;
}

.last {
  margin-left: 80px;
  margin-right: 40px;
}

.addButton {
  height: 40px;
  width: 290px;
  font-size: 16px;
  border: none;
  /* background-color: var(--light-blue); */
  color: whitesmoke;
  cursor: pointer;
  margin-bottom: 10px;
}

.submitButton {
  height: 40px;
  width: 290px;
  font-size: 16px;
  border: none;
  /* background-color: var(--blue); */
  color: whitesmoke;
  cursor: pointer;
}
