:root {
  --light-blue: #7c9dbb;
  --blue: #2570b3;
  --dark-grey: #434242;
  --light-grey: #c4bab8;
  --offwhite: #eeeeee;
  --green: #42795b;
  --light-green: #b4cd93;
  --light-yellow: #fcf5b8;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.dashboardPage {
  width: calc(100vw - 200px);
  height: calc(100vh - 60px);
  /* height: auto; */
  position: fixed;
  top: 60px;
  right: 0;
  /* background-color: lightsteelblue;
  border: 1px solid pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

.first {
  /* background-color: lavenderblush;
  border: 1px solid black; */
  width: calc(100vw - 250px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin-bottom: 10px;
}

.second {
  /* background-color: lavender; */
  /* border: 1px solid red; */
  width: calc(100vw - 250px);
  min-height: 485px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px var(--light-grey);
}

.firstTable {
  width: calc(100% / 2);
  height: 80%;
  /* background-color: skyblue;
  border: 1px solid purple; */
  padding: 10px 15px;
  border-top-left-radius: 10px;
  box-shadow: 0 0 15px var(--light-grey);
}

.one {
  margin: 10px 10px 10px 0;
}

.two {
  margin: 10px 0 10px 10px;
}

.title {
  padding: 0;
  margin: 0 0 5px 0;
  color: var(--blue);
  font-size: 20px;
}

.poTableHeaders {
  /* background-color: lightpink;
  border: 1px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--light-grey);
}

.poTableHeaders > p {
  width: calc(100% / 5);
  margin: 0;
}

.poTableRowsDiv {
  height: 170px;
  /* background-color: lightgray; */
  overflow-y: scroll;
}

.poTableRows {
  /* background-color: greenyellow;
  border: 1px solid peru; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--light-grey);
}

.poTableRows > p {
  width: calc(100% / 5);
  margin: 0;
}

.doTableHeaders {
  /* background-color: green;
  border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--light-grey);
}

.doTableHeaders > p {
  width: calc(100% / 4);
  margin: 0;
}

.doTableRowsDiv {
  height: 170px;
  /* background-color: greenyellow; */
  overflow-y: scroll;
}

.doTableRows {
  /* background-color: navajowhite;
  border: 1px solid lightsalmon; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--light-grey);
}

.doTableRows > p {
  width: calc(100% / 4);
  margin: 0;
}

.secondTitle {
  padding: 0;
  /* background-color: lightsalmon; */
  margin: 10px 15px;
  font-size: 22px;
  color: var(--blue);
}

.secondDisplayDiv {
  /* background-color: cornflowerblue; */
  margin: 10px 15px;
  min-height: 420px;
}
