body {
  margin: 0;
  background-color: whitesmoke;
}

.headerBar {
  width: calc(100vw - 200px);
  height: 74px;
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchBar {
  width: 350px;
  height: 30px;
}

button {
  height: 30px;
}

.profilePic {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}